.card {
  background-color: var(--SoftGrey);
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card .icon {
  color: var(--Grey);
  font-size: 8em;
  text-align: center;
}
.info {
  text-align: center;
}

.info h3 {
  color: var(--Grey);
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}
